<p>Здравствуйте, {{ name }}.</p>
<p>Наш стилист отправил вам новые подборки. Перейдите в личный кабинет, чтобы подтвердить вам понравившиеся.</p>
<p>Если вы не запрашивали этот email, тогда проигнорируйте его.</p>
<p>С наилучшими пожеланиями. Сервис <a href="eyelish.ru">eyelish.ru</a></p>