<p>Здравствуйте, {{ name }},</p>
<p>Вы пытались восстановить пароль. Пройдите по ссылке, чтобы подтвердить восстановление и мы выслали вам новый пароль.</p>
<p>
    <a href="{{ url }}">Пройти по ссылке</a>
</p>

<p> Если вы не запрашивали этот email, тогда проигнорируйте его.</p>
<p> С наилучшими пожеланиями. <a href="eyelish.ru">eyelish.ru</a></p>