<div style="background: #f3f5f9; padding: 30px 60px; font-size: 16px;">
  <div style="background: #fff; padding: 30px 30px 5px;">
    <header>
      <svg
        width="63"
        height="32"
        viewBox="0 0 63 32"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        style="width: 89px; height: 45px; display: block; margin: 5px auto 30px;"
      >
        <path
            d="M3.87159 8.05869C3.87159 8.46346 4.35092 8.66585 5.3096 8.66585C6.28672 8.66585 7.84457 8.51866 9.98316 8.22428C12.1217 7.9115 13.5045 7.75511 14.1313 7.75511C15.1084 7.75511 15.597 8.03109 15.597 8.58306C15.597 9.4662 13.9469 10.6345 10.6469 12.088C9.28259 12.6952 7.90909 13.33 6.52639 13.9923C5.14368 14.6547 3.97298 15.409 3.01431 16.2554C2.05563 17.0833 1.57629 17.9205 1.57629 18.7668C1.57629 19.466 2.35982 19.8155 3.92689 19.8155C4.79339 19.8155 6.10236 19.6868 7.85379 19.4292C9.62365 19.1532 11.1446 19.0152 12.4167 19.0152C14.6844 19.0152 15.8182 19.6408 15.8182 20.8919C15.8182 21.0391 15.7352 21.1127 15.5693 21.1127C15.4771 21.1127 15.2743 21.0299 14.9609 20.8643C13.9838 20.3675 12.9145 20.1191 11.753 20.1191C11.1446 20.1559 9.73427 20.2939 7.52194 20.5331C5.3096 20.7907 3.90846 20.9195 3.3185 20.9195C1.10617 20.9195 0 20.3307 0 19.1532C0 18.3252 0.479339 17.4605 1.43802 16.559C2.41513 15.6574 3.59504 14.8479 4.97775 14.1303C6.36046 13.3944 7.73395 12.7044 9.09822 12.0604C10.4809 11.4165 11.6516 10.8369 12.6103 10.3217C13.5874 9.80658 14.076 9.411 14.076 9.13502C14.076 8.98783 13.9101 8.91423 13.5782 8.91423C9.30102 9.4846 6.21297 9.76978 4.31405 9.76978C2.78385 9.76978 2.01876 9.4294 2.01876 8.74864C2.01876 7.97589 2.94978 6.95476 4.81183 5.68524C6.67388 4.39732 8.95995 3.25659 11.6701 2.26306C7.17165 2.22626 3.36459 2.03307 0.248888 1.68349C0.0829625 1.6283 0 1.5179 0 1.35231C0 1.11313 0.202797 0.993536 0.608392 0.993536C0.719009 0.993536 1.44724 1.03953 2.79307 1.13153C6.59091 1.42591 9.17197 1.5731 10.5362 1.5731C11.9005 1.5731 12.9882 1.5547 13.7994 1.5179C17.0258 0.505968 19.7635 0 22.0127 0C22.8239 0 23.2295 0.15639 23.2295 0.469169C23.2295 1.5915 19.9018 2.18946 13.2464 2.26306C10.7575 3.1278 8.5728 4.15814 6.69231 5.35406C4.81183 6.53159 3.87159 7.43313 3.87159 8.05869Z"
            fill="currentColor"
        ></path>
        <path
            d="M17.6554 23.7481L18.0149 23.279C18.3099 22.9294 18.4942 22.6994 18.568 22.589C18.0333 22.8282 17.6093 22.9846 17.2959 23.0582C16.9825 23.1502 16.8258 23.2146 16.8258 23.2514L17.6554 23.7481ZM17.7937 25.404C17.7937 25.2201 17.766 25.0269 17.7107 24.8245C15.0006 28.2099 13.6455 30.2337 13.6455 30.8961C13.6455 30.9513 13.6732 30.9789 13.7285 30.9789C14.0419 30.9789 14.5213 30.6753 15.1665 30.0681C15.8118 29.461 16.411 28.7066 16.964 27.8051C17.5171 26.9035 17.7937 26.1032 17.7937 25.404ZM15.5813 23.279C15.6366 23.1318 15.6827 23.049 15.7196 23.0306C15.738 23.0122 15.8026 22.9938 15.9132 22.9754C16.0238 22.9754 16.3741 22.8926 16.964 22.727C17.554 22.5798 18.2546 22.3314 19.0658 21.9819C21.4256 18.9829 22.67 17.3546 22.7991 17.097C22.9466 16.821 23.0203 16.6554 23.0203 16.6002C23.0203 16.545 22.9834 16.5174 22.9097 16.5174C22.8359 16.5174 22.753 16.5818 22.6608 16.7106C22.6239 16.729 22.375 16.9498 21.9141 17.373C21.4717 17.7777 21.0292 18.1549 20.5867 18.5045C20.1627 18.8541 19.6649 19.1944 19.0934 19.5256C18.5219 19.8384 18.0333 19.9948 17.6277 19.9948C17.2221 19.9948 17.0193 19.8476 17.0193 19.5532C17.0378 18.8725 17.4987 17.9341 18.4021 16.7382C19.3239 15.5423 19.9415 14.9443 20.2549 14.9443C20.5683 14.9443 20.725 15.0271 20.725 15.1927C20.725 15.2847 20.301 15.855 19.4529 16.9038C18.6233 17.9525 18.2085 18.6057 18.2085 18.8633C18.2085 19.1208 18.2914 19.2496 18.4574 19.2496C18.7892 19.2496 19.7387 18.5781 21.3057 17.235C22.8912 15.8918 23.8684 15.2203 24.2371 15.2203C24.3477 15.2203 24.4491 15.2755 24.5413 15.3859C24.6519 15.4963 24.7072 15.6159 24.7072 15.7447C24.7072 16.1494 23.3798 17.9617 20.725 21.1815C23.2139 19.8016 25.5276 18.2377 27.6662 16.4898L28.2746 15.993C28.4221 15.901 28.5419 15.855 28.6341 15.855C28.7263 15.855 28.7724 15.901 28.7724 15.993L28.7447 16.1034C28.8369 16.1034 28.3483 16.5082 27.279 17.3178C26.2097 18.1273 25.2234 18.8449 24.32 19.4704C23.4167 20.096 22.0247 20.8871 20.1443 21.8439L18.1808 24.2449C18.4389 24.6129 18.568 25.0453 18.568 25.542C18.568 26.3884 18.2085 27.3267 17.4895 28.3571C16.7705 29.4058 15.9685 30.2705 15.0836 30.9513C14.1802 31.6504 13.4427 32 12.8712 32C12.7053 32 12.5578 31.9356 12.4288 31.8068C12.2813 31.6964 12.2075 31.5309 12.2075 31.3101C12.2075 31.1077 12.3181 30.7949 12.5394 30.3717C12.7422 29.9486 13.0556 29.4518 13.4796 28.8814C13.8852 28.3295 14.2724 27.8235 14.6411 27.3635C15.0098 26.9219 15.4799 26.3608 16.0514 25.68C16.623 24.9993 17.047 24.4933 17.3235 24.1621C16.9917 23.8677 16.6138 23.6838 16.1897 23.6102C15.7841 23.5366 15.5813 23.4262 15.5813 23.279Z"
            fill="currentColor"
        ></path>
        <path
            d="M35.3247 16.0206C35.4537 15.9286 35.5736 15.8826 35.6842 15.8826C35.7948 15.8826 35.8501 15.947 35.8501 16.0758V16.131C33.9327 17.7133 32.338 18.9001 31.0659 19.6912C29.7938 20.4824 28.6416 20.8779 27.6092 20.8779C26.7795 20.8779 26.3647 20.4732 26.3647 19.6636C26.3647 18.4677 26.9731 17.2442 28.1899 15.993C29.4067 14.7235 30.4299 14.0888 31.2595 14.0888C31.7204 14.0888 31.9509 14.3463 31.9509 14.8615C31.8587 15.8734 30.4022 17.235 27.5815 18.9461V19.222C27.5815 19.8292 27.8949 20.1328 28.5218 20.1328C29.167 20.1328 29.8584 19.9212 30.5958 19.498C32.0338 18.6517 33.3797 17.6857 34.6333 16.6002L35.3247 16.0206ZM30.5405 14.9443C30.1349 14.9443 29.6095 15.2847 28.9642 15.9654C28.3374 16.6462 27.9134 17.419 27.6921 18.2837C28.5771 17.7501 29.3237 17.189 29.9321 16.6002C30.5405 15.993 30.8447 15.5699 30.8447 15.3307C30.8447 15.0731 30.7433 14.9443 30.5405 14.9443Z"
            fill="currentColor"
        ></path>
        <path
            d="M42.0118 16.0206C42.1409 15.9286 42.2607 15.8826 42.3713 15.8826C42.4819 15.8826 42.5372 15.947 42.5372 16.0758V16.131C40.6199 17.7133 39.1634 18.8173 38.1679 19.4428C36.8773 20.418 35.7896 20.9055 34.9047 20.9055C34.1304 20.9055 33.7432 20.4456 33.7432 19.5256C33.7432 18.2929 34.536 16.4714 36.1215 14.0612C37.7254 11.6325 39.5229 9.45225 41.514 7.52038C43.5051 5.5885 45.0077 4.62256 46.0217 4.62256C46.4826 4.62256 46.713 4.82495 46.713 5.22972C46.713 6.24166 45.4962 7.91595 43.0627 10.2526C40.6475 12.5709 38.2693 14.5487 35.9279 16.1862C35.2457 17.4925 34.9047 18.4861 34.9047 19.1668C34.9047 19.8476 35.1443 20.188 35.6237 20.188C36.103 20.188 36.7299 19.912 37.5042 19.36C38.8131 18.5873 40.0852 17.6673 41.3204 16.6002L42.0118 16.0206ZM45.3303 5.5057C44.556 5.5057 43.1825 6.61883 41.2098 8.84509C39.2372 11.0714 37.6056 13.2976 36.315 15.5239C38.4352 14.0152 40.5093 12.1753 42.5372 10.0042C44.5652 7.81476 45.5792 6.39805 45.5792 5.75409C45.5792 5.5885 45.4962 5.5057 45.3303 5.5057Z"
            fill="currentColor"
        ></path>
        <path
            d="M45.0036 12.2673C45.188 12.2673 45.3263 12.3225 45.4184 12.4329C45.5291 12.5433 45.5844 12.6996 45.5844 12.902C45.5844 13.1044 45.4461 13.362 45.1696 13.6748C44.893 13.9876 44.6533 14.144 44.4506 14.144C44.2478 14.144 44.1003 14.0888 44.0081 13.9784C43.9159 13.8496 43.8698 13.7116 43.8698 13.5644C43.8698 13.3988 44.0173 13.1412 44.3123 12.7916C44.6073 12.4421 44.8377 12.2673 45.0036 12.2673ZM47.2989 15.993C47.4464 15.901 47.557 15.855 47.6308 15.855C47.723 15.855 47.7691 15.9102 47.7691 16.0206V16.1034C47.8428 16.1034 47.345 16.5082 46.2757 17.3178C45.2249 18.1273 44.091 18.9369 42.8743 19.7464C41.6759 20.556 40.92 20.9607 40.6066 20.9607C40.072 20.9607 39.8046 20.7399 39.8046 20.2984C39.8046 19.7648 40.2656 18.7621 41.1874 17.2902C42.1092 15.7999 42.7821 15.0547 43.2061 15.0547C43.5195 15.0547 43.6762 15.1743 43.6762 15.4135C43.6762 15.6527 43.2522 16.3058 42.4041 17.373C41.5561 18.4401 41.1321 19.2036 41.1321 19.6636C41.1321 19.9212 41.2242 20.05 41.4086 20.05C41.6114 20.05 42.0999 19.7924 42.8743 19.2772C44.257 18.3573 45.5291 17.4281 46.6905 16.4898L47.2989 15.993Z"
            fill="currentColor"
        ></path>
        <path
          d="M52.7323 16.0206C52.8798 15.9286 52.9996 15.8826 53.0918 15.8826C53.2024 15.8826 53.2578 15.947 53.2578 16.0758V16.131C51.8382 17.327 50.3356 18.4493 48.7501 19.498C47.1831 20.5468 46.1875 21.0711 45.7635 21.0711C45.3394 21.0711 44.9799 20.9883 44.685 20.8227C44.4084 20.6755 44.2701 20.5008 44.2701 20.2984C44.2701 20.096 44.3255 19.9304 44.4361 19.8016C44.5467 19.6544 44.6481 19.5808 44.7403 19.5808C44.8325 19.5808 44.9799 19.728 45.1827 20.0224C45.404 20.2984 45.616 20.4364 45.8188 20.4364C46.2428 20.4364 46.5747 19.9856 46.8143 19.084C47.054 18.1825 47.1738 17.5661 47.1738 17.235C47.1738 16.8854 47.1462 16.7106 47.0909 16.7106C47.054 16.7106 47.0171 16.729 46.9803 16.7658L46.1783 17.4006L46.0677 16.9866C47.2291 16.0666 47.9021 15.4503 48.0864 15.1375C48.197 14.8431 48.3538 14.6959 48.5565 14.6959C48.6856 14.6959 48.7501 14.7419 48.7501 14.8339C48.7501 14.9259 48.6856 15.1283 48.5565 15.4411C48.4275 15.7355 48.2524 16.4162 48.0311 17.4833C47.8283 18.5505 47.7269 19.1668 47.7269 19.3324C47.7269 19.498 47.773 19.5808 47.8652 19.5808C49.1557 18.7897 50.52 17.8053 51.958 16.6278L52.7323 16.0206Z"
          fill="currentColor"
        ></path>
        <path
          d="M61.726 15.993C61.855 15.901 61.9749 15.855 62.0855 15.855C62.1961 15.855 62.2514 15.9102 62.2514 16.0206V16.1034C60.795 17.3178 59.3662 18.4033 57.965 19.36C56.5639 20.4272 55.5868 20.9607 55.0337 20.9607C54.499 20.9607 54.2317 20.7399 54.2317 20.2984C54.2317 19.82 54.582 19.0104 55.2826 17.8697C55.9831 16.729 56.3334 16.1218 56.3334 16.0482C56.3334 15.9562 56.2965 15.9102 56.2228 15.9102C55.9831 15.9102 55.2457 16.4438 54.0105 17.5109C52.7937 18.5597 51.7244 19.5348 50.8026 20.4364C50.4523 20.7491 50.2034 20.9055 50.0559 20.9055C49.9269 20.9055 49.8623 20.8043 49.8623 20.6019C49.8623 20.3996 49.9822 20.142 50.2218 19.8292L59.8731 5.14693C60.0759 4.83415 60.3433 4.67776 60.6751 4.67776C61.0254 4.67776 61.2006 4.78815 61.2006 5.00894C61.2006 5.13773 61.1452 5.27572 61.0346 5.42291C60.9424 5.5701 60.3248 6.45324 59.1818 8.07234C58.0388 9.67304 57.3751 10.6206 57.1907 10.915C57.0248 11.2093 56.2228 12.4237 54.7848 14.5579C53.3652 16.6922 52.6093 17.8237 52.5171 17.9525C52.4434 18.0629 52.4065 18.1549 52.4065 18.2285C52.4065 18.3021 52.4342 18.3389 52.4895 18.3389C52.5632 18.3389 52.6093 18.3297 52.6278 18.3113C53.2177 17.7225 54.0197 17.0418 55.0337 16.269C56.0661 15.4779 56.7759 15.0823 57.163 15.0823C57.3105 15.0823 57.4396 15.1375 57.5502 15.2479C57.6608 15.3399 57.7161 15.5055 57.7161 15.7447C57.7161 15.9654 57.3566 16.591 56.6376 17.6213C55.9186 18.6333 55.5591 19.2956 55.5591 19.6084C55.5591 19.9028 55.6513 20.05 55.8356 20.05C56.0384 20.05 56.527 19.7924 57.3013 19.2772C58.684 18.3573 59.9561 17.4281 61.1176 16.4898L61.726 15.993Z"
          fill="currentColor"
        ></path>
      </svg>
    </header>
    <p>Здравствуйте, {{ name }}.</p>
    <div style="padding: 30px 0;">
      Вы были успешно зарегистрированы в eylish в качестве стилиста.</b>
      <p>
        Ваш пароль:
        <b>{{ password }}</b>
      </p>
    </div>
    <p>
      Если вы не запрашивали этот email, тогда проигнорируйте его.
    </p>
    <p>
      С наилучшими пожеланиями,
      <a style="color: #000" href="https://eyelish.ru">Сервис Eyelish</a>
    </p>
  </div>
  <div style="width: 100%; background: #110e2b; padding: 20px 0 20px;">
    <div style="max-width: 1310px; padding: 0 30px; margin: auto;">
      <ul style="border-bottom: 1px solid rgba(111,115,116,.5019607843137255); padding-bottom: 20px; padding-left: 0;">
        <li style="font-size: 16px; font-weight: 300; line-height: 24px; margin-bottom: 12px; list-style: none;">
          <a style="color: #fff; text-decoration: none;" href="https://eyelish.ru">Главная</a>
        </li>
        <li style="font-size: 16px; font-weight: 300; line-height: 24px; margin-bottom: 12px; list-style: none;">
          <a style="color: #fff; text-decoration: none;" href="https://eyelish.ru/#receive-section">Как мы работаем?</a>
        </li>
        <li style="font-size: 16px; font-weight: 300; line-height: 24px; margin-bottom: 12px; list-style: none;">
          <a style="color: #fff; text-decoration: none;" href="https://eyelish.ru/#q-and-a">Вопросы &amp; ответы</a>
        </li>
      </ul>
      <div style="padding-left: 0; padding-top: 20px;">
        <div style="color: #fff; font-size: 16px; line-height: 32px; margin-bottom: 5px;">Eyelish@mail.ru</div>
        <div style="color: #fff; font-size: 16px; line-height: 32px; margin-bottom: 5px;">+7 (993) 201-34-53</div>
        <div style="margin-top: 40px;">
          <a
            href="https://instagram.com/eyelish.ru"
            target="_blank"
          >
            <svg
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
              style="color: #fff; margin-right: 22px;"
            >
              <path
                d="M11.9975 8.66525C10.1613 8.66525 8.66275 10.1638 8.66275 12C8.66275 13.8362 10.1613 15.3348 11.9975 15.3348C13.8338 15.3348 15.3323 13.8362 15.3323 12C15.3323 10.1638 13.8338 8.66525 11.9975 8.66525ZM21.9993 12C21.9993 10.6191 22.0118 9.25064 21.9342 7.87221C21.8567 6.27113 21.4914 4.85017 20.3206 3.67938C19.1473 2.50609 17.7289 2.14334 16.1278 2.06579C14.7469 1.98824 13.3784 2.00074 12 2.00074C10.6191 2.00074 9.25065 1.98824 7.87222 2.06579C6.27113 2.14334 4.85017 2.50859 3.67938 3.67938C2.50609 4.85267 2.14334 6.27113 2.06579 7.87221C1.98824 9.25314 2.00074 10.6216 2.00074 12C2.00074 13.3784 1.98824 14.7494 2.06579 16.1278C2.14334 17.7289 2.50859 19.1498 3.67938 20.3206C4.85267 21.4939 6.27113 21.8567 7.87222 21.9342C9.25315 22.0118 10.6216 21.9993 12 21.9993C13.3809 21.9993 14.7494 22.0118 16.1278 21.9342C17.7289 21.8567 19.1499 21.4914 20.3206 20.3206C21.4939 19.1473 21.8567 17.7289 21.9342 16.1278C22.0143 14.7494 21.9993 13.3809 21.9993 12V12ZM11.9975 17.131C9.15809 17.131 6.86654 14.8394 6.86654 12C6.86654 9.16058 9.15809 6.86903 11.9975 6.86903C14.8369 6.86903 17.1285 9.16058 17.1285 12C17.1285 14.8394 14.8369 17.131 11.9975 17.131ZM17.3386 7.8572C16.6757 7.8572 16.1403 7.32184 16.1403 6.65889C16.1403 5.99594 16.6757 5.46058 17.3386 5.46058C18.0016 5.46058 18.5369 5.99594 18.5369 6.65889C18.5371 6.81631 18.5063 6.97222 18.4461 7.1177C18.386 7.26317 18.2977 7.39535 18.1864 7.50666C18.0751 7.61798 17.9429 7.70624 17.7974 7.76639C17.652 7.82654 17.496 7.8574 17.3386 7.8572V7.8572Z"
                fill="currentColor"
              ></path>
            </svg>
          </a>
          <a href="/">
            <svg
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
              style="color: #fff; margin-right: 22px;"
            >
              <path
                d="M18.25 2C19.283 2 20.1662 2.36675 20.8997 3.10026C21.6332 3.83377 22 4.71701 22 5.75V18.25C22 19.283 21.6332 20.1662 20.8997 20.8997C20.1662 21.6332 19.283 22 18.25 22H15.8021V14.2526H18.3932L18.7839 11.2318H15.8021V9.30469C15.8021 8.81858 15.9041 8.45399 16.1081 8.21094C16.3121 7.96788 16.7092 7.84635 17.2995 7.84635L18.888 7.83333V5.13802C18.3411 5.0599 17.5686 5.02083 16.5703 5.02083C15.3898 5.02083 14.4457 5.36806 13.7383 6.0625C13.0308 6.75694 12.6771 7.73785 12.6771 9.00521V11.2318H10.0729V14.2526H12.6771V22H5.75C4.71701 22 3.83377 21.6332 3.10026 20.8997C2.36675 20.1662 2 19.283 2 18.25V5.75C2 4.71701 2.36675 3.83377 3.10026 3.10026C3.83377 2.36675 4.71701 2 5.75 2H18.25Z"
                fill="currentColor"
              ></path>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>