<div style="background: #f3f5f9; padding: 30px 30px; font-size: 16px;">
  <div style="background: #fff; padding: 30px 30px 5px;">
    <header>
      <img
        src="https://eyelish.ru/assets/images/logo.png"
        style="width: 89px; height: 45px; display: block; margin: 5px auto 30px;"
      />
    </header>
    <p>Здравствуйте, {{ name }}.</p>
    <div style="padding: 30px 0;">
      Вы были успешно зарегистрированы в eylish в качестве стилиста.</b>
      <p>
        Ваш пароль:
        <b>{{ password }}</b>
      </p>
    </div>
    <p>
      Если вы не запрашивали этот email, тогда проигнорируйте его.
    </p>
    <p>
      С наилучшими пожеланиями,
      <a style="color: #000" href="https://eyelish.ru">Сервис Eyelish</a>
    </p>
  </div>
  <div style="width: 100%; background: #110e2b; padding: 20px 0 20px;">
    <div style="max-width: 1310px; padding: 0 30px; margin: auto;">
      <ul style="border-bottom: 1px solid rgba(111,115,116,.5019607843137255); padding-bottom: 20px; padding-left: 0;">
        <li style="font-size: 16px; font-weight: 300; line-height: 24px; margin-bottom: 12px; list-style: none;">
          <a style="color: #fff; text-decoration: none;" href="https://eyelish.ru">Главная</a>
        </li>
        <li style="font-size: 16px; font-weight: 300; line-height: 24px; margin-bottom: 12px; list-style: none;">
          <a style="color: #fff; text-decoration: none;" href="https://eyelish.ru/#receive-section">Как мы работаем?</a>
        </li>
        <li style="font-size: 16px; font-weight: 300; line-height: 24px; margin-bottom: 12px; list-style: none;">
          <a style="color: #fff; text-decoration: none;" href="https://eyelish.ru/#q-and-a">Вопросы &amp; ответы</a>
        </li>
      </ul>
      <div style="padding-left: 0; padding-top: 20px;">
        <a style="display: block; color: #fff; font-size: 16px; line-height: 32px; margin-bottom: 5px; text-decoration: none;">Eyelish@mail.ru</a>
        <a style="display: block; color: #fff; font-size: 16px; line-height: 32px; margin-bottom: 5px; text-decoration: none;">+7 (993) 201-34-53</a>
        <div style="margin-top: 40px;">
          <a
            href="https://instagram.com/eyelish.ru"
            target="_blank"
          >
            <img
              src="https://eyelish.ru/assets/images/ic inst.png"
              style="width: 24px; height: 24px; margin-right: 22px;"
            />
          </a>
          <a href="/">
            <img
              src="https://eyelish.ru/assets/images/ic fb.png"
              style="width: 24px; height: 24px; margin-right: 22px;"
            />
          </a>
        </div>
      </div>
    </div>
  </div>
</div>